.mn-notification-container {
	width: 100%;
	min-height: 50px;
}

.mn-notification-container-content {
	width: 100%;
}

.mn-module-container .mn-notification-container:not(:last-child) {
  margin-bottom: 10px !important;
}

.mn-module-container .mn-notification-container:last-child {
  margin-bottom: 0px !important;
}

.mn-module-container {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.mn-button {
  color: inherit;
  font: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}
.mn-module-container .mn-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.mn-module-container .mn-alert h4 {
  margin-top: 0;
  color: inherit;
}
.mn-module-container .mn-alert .mn-alert-link {
  font-weight: bold;
}
.mn-module-container .mn-alert > p,
.mn-module-container .mn-alert > ul {
  margin-bottom: 0;
}
.mn-module-container .mn-alert > p + p {
  margin-top: 5px;
}

.mn-module-container .mn-alert-dismissible {
  padding-right: 35px;
}

.mn-module-container .mn-alert-dismissible .mn-close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

/* success */
.mn-module-container .mn-alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.mn-module-container .mn-alert-success hr {
  border-top-color: #c9e2b3;
}
.mn-module-container .mn-alert-success .mn-alert-link {
  color: #2b542c;
}

/* notice */
.mn-module-container .mn-alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.mn-module-container .mn-alert-notice hr {
  border-top-color: #a6e1ec;
}
.mn-module-container .mn-alert-notice .mn-alert-link {
  color: #245269;
}

/* warning */
.mn-module-container .mn-alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.mn-module-container .mn-alert-warning hr {
  border-top-color: #f7e1b5;
}
.mn-module-container .mn-alert-warning .mn-alert-link {
  color: #66512c;
}

/* danger */
.mn-module-container .mn-alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.mn-module-container .mn-alert-error hr {
  border-top-color: #e4b9c0;
}
.mn-module-container .mn-alert-error .mn-alert-link {
  color: #843534;
}

.mn-module-container .mn-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.mn-module-container .mn-close:hover,
.mn-module-container .mn-close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.mn-module-container button.mn-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}