#notifications-outer-container {
    margin: 0 auto;
    width: 400px;
    background-color: #f7f9ff;
    min-height: 100px;
    padding: 10px;

    border-radius: 20px;
	border-color: #a8bbff;
    border-width: 2px;
    border-style: solid;
	
	/* display: flex; */
}

#notifications {
	/* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* width: 100%; */
}

.btn-group {
	margin: 5px;
}