.mn-swing {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 0.5s cubic-bezier(0.3, -0.65, 0.3, 1.75);
}

.mn-swing.show {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(0.3, -0.65, 0.3, 1.75);
}
